<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289555583657-7hcf3sha76aped51cihn8icf2t7451l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289555583657-7hcf3sha76aped51cihn8icf2t7451l9</string>
	<key>API_KEY</key>
	<string>AIzaSyDjnAehohVMBG3CYaBfBmn-Z07dWxfu7pE</string>
	<key>GCM_SENDER_ID</key>
	<string>289555583657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chris.riderapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-uber-clone-60d7f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-uber-clone-60d7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289555583657:ios:0e5140c618aea5e9b40fb8</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-uber-clone-60d7f-default-rtdb.firebaseio.com</string>
</dict>
</plist>